body{
    background-color: rgb(226, 227, 227);

}
.task{
    display: flex;
}
.loginForm{
    width: 100%;
    height: auto;
}
.forms input{
    width: 80%;
    height: 25px;
    display: block;
    margin: 10px;
   
}
#submit{
    width: auto;
   margin: auto;
}
.loginForm{
    width: 100%;
    height: auto;
    display: flex;
  
}

.forms{
    width: 350px;
    height: 250px;
    background-color: rgb(144, 174, 201);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 40%;
    padding: 25px;
    border-radius: 5px;
}